/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Noto Sans JP', sans-serif; 
    line-height: 1.4em;
    min-height: 100%;
}



.base-footer {
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    background-color: white;
    opacity: 0.65;
    color: black;
    /* position: fixed; */
    bottom:0;
    /* text-align: center; */
    display:flex;
    justify-content: center;
    margin-top:1%;
  } 

  #aboutbg{
      background-color: white;
      opacity: 0.9;
      border-radius: 10pt;
  }

/* need to update image */
.signed-in-header-img{
    background-image: url(https://pixabay.com/get/g7128bc7211535b14ff47f2e80168c74d68619bd2a1029edb47b320302711a5193455c425f79266d2c4942436de3fc509_1920.jpg);
    height: 200px;
    margin-top: 0px;
    }

.homepage-img {
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    height: 100%;
}

.session-blur-img{
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
    height: 100%;

}

.card-signin-up{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    opacity: 0.91;
    /* border-radius: 0.5rem; */
    }


.form-control-signin-up{
    font-size: 13pt;
    /* border-radius: 0.7rem; */
    border-width: thin; 
    background-color: #FAF5F5;
    width: 150pt;
    height: 25pt;
}
.nanjo-session{
    font-family: 'Roboto', sans-serif;
    font-size: 2.7rem;
    font-style: italic;
    color: black;

}

.card-create-wkt{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
}

.form-control-add-ex{
    font-size: 13pt;
    border-radius: 0.7rem;
    border-width: thin; 
    background-color: #FAF5F5;
    width: 250pt;
}


    
.name-wkt-card{
    border-radius: 0.7rem;
    border-width: thin;
    border-color: black;
}

.profile-card-title{
    text-align: center;
    font-weight: 400;
    color: #f4723e;
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
}

.saved-wrkt-header{
    text-align: left;
    font-weight: 800;
    color: #f4723e;
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 15pt;
    
}


.nanjo-header{
    text-align: center;
    font-size:  5.5rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    color: black;
    opacity: 0.85;
}

.input-group-prepend span{
width: 15px;
background-color: #F4713E;
opacity: 0.9;
color: rgba(0, 0, 0, 0.274);
border:0 !important;
}

input:focus{
size: 20;
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

a:link{
    font-style: italic;
}

.profile_btn:hover{
    color: black;
    background-color: white;
}

.btn_createwkt{
    color: white;
    background-color: #f4723e;
    font-weight: 300;
    border-radius: 0.7rem;
    height: 2.7rem
}

.btn_createwkt:hover{
    color: black;
    background-color: white;
}

.btns-space-form span{
    margin:0 10px;
}

.login_btn{
    color: white;
    background-color: #f4723e;
    opacity: 0.9;
    width: 100px;
    height: 2.7rem
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: black;
    }
    
    .links a{
    margin-left: 4px;
    }

.popover-header{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    border-color: #0645AD;
    border-width: thick;
    font-size: 15pt;
}

table, th, tr {
    border: none;
    border-collapse: collapse;
    padding: 6px;
    text-align:left;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.7rem;
    color: #f4723e;
}

table, td {
    border-bottom: 1px solid #000;
    padding: 6px;
    text-align:left;
    color: black;
}

table td:first-child{
    border-left: none;
}