{% extends 'base.html' %}
{% block title %}Nanjo: About{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/my-profile-pic.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Nanjo Creator: <br> Jessica Chapdelaine <br>
                
                </p>
            </div>
          </div>
    </div>
    
    <div class="col-9">
        <p>
            <h3>Thank you for visiting</h3>
            This project is an acolmunation of what I have learned
            the past 10 weeks during my Hackbright and Perficient full stack engineering bootcamp.<br>
            In the future I plan to expand the app as I learn new technologies and gain experience in the field.
            <p>*HB sympbol-link*Perficient symbol-link*</p>
            <h4>Contact</h4>
            <p>
                <ul>
                    <li>Linkdin: https://www.linkedin.com/in/jessica-chapdelaine/</li>
                    <li>GitHub: https://github.com/Jessica-chap</li>
                </ul>
            </p>
        </p>
    </div>
</div>


{% endblock %}