{% extends 'base.html' %} 
{% block title %}Nanjo: About{% endblock %}

{% block body %}
<br><br>
<div class="row" id="aboutbg">
    <div class="col-9">
        <p>
            <h3>Thank you for visiting</h3>
            This project is an accumulation of what I have learned 
            the first 10 weeks of my Hackbright, Perficient sponsored, 
            full stack engineering bootcamp.<br>
            In the future I plan to expand the app as I learn new 
            technologies and gain more experience in the field.
            <p>Technologies used:</p>
            <ul>
                <li>Languages/Frameworks- Python, Flask, Javascript, SQLAlchemy, HTML, CSS</li>
                <li>Databases/Other- PostgreSQL, Jinja, Json</li>
                <li>Api-<a href="https://wger.de/en/software/api target="_blank"">Wger</a></li>
            </ul>
            <h4>Contact</h4>
            <p>
                <ul>
                    <li><a href="https://www.linkedin.com/in/jessica-chapdelaine/" target="_blank">Linkedin</a></li>
                    <li><a href="https://github.com/Jessica-chap" target="_blank">GitHub</a></li>
                </ul>
            </p>
            <p>
                <h4>Resources</h4>
                <a href="https://hackbrightacademy.com/" target="_blank">Hackbright Academy</a><br>
                <a href="https://www.perficient.com/" target="_blank">Perficient</a>
            </p>
        </p>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem; border-color: transparent;">
            <img class="card-img-top" src="../static/img/headshot.jpg" alt="Card image cap">           
          </div>
    </div>
</div><br><br>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body" style=" color: black; opacity: 0.8;
                                           text-align: center">
              <h5 class="card-title">Coming Soon! v3.0 - Parks</h5>
              <p class="card-text">Future Learning Goals
                  <p>
                      Implement Search for parks in area, to take workout outside<br>
                      Fine tune current features and make user profile more robust<br>
                      Web scraping images for all exercises<br>
                      Build larger database - premade workouts for users to select from<br>
                  </p>
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>        
    </div>
</div>


{% endblock %}