{% extends 'base.html' %}
{% block title %}Nanjo: About{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/img/my-profile-pic.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Nanjo Creator: <br> Jessica Chapdelaine <br>
                
                </p>
            </div>
          </div>
    </div>
    
    <div class="col-9">
        <p>
            <h3>Thank you for visiting</h3>
            This project is an acolmunation of what I have learned
            the past 10 weeks during my Hackbright and Perficient full stack engineering bootcamp.<br>
            In the future I plan to expand the app as I learn new technologies and gain experience in the field.
            <p>*HB sympbol-link*Perficient symbol-link*</p>
            <p>Technologies used</p>
            <h4>Contact</h4>
            <p>
                <ul>
                    <li>Linkdin: https://www.linkedin.com/in/jessica-chapdelaine/</li>
                    <li>GitHub: https://github.com/Jessica-chap</li>
                </ul>
            </p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <img class="card-img-top" src="../static/img/treetops.jpg" 
                style="height: 350px;" alt="Card image cap">
            <div class="card-body" style="background-color: black; color: white;
                                            text-align: center">
              <h5 class="card-title">Coming Soon! v3.0 - Parks</h5>
              <p class="card-text">Future Learning Goals
                  <ul>
                      <li>Implement Search for parks in area, to take workout outside</li>
                      <li>Fine tune current features and make user profile more robust</li>
                      <li>Web scraping images for all exercises</li>
                      <li>Database of premade workouts for users to select from, and not have to create everytime</li>
                  </ul>
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
          </div> -->

    </div>
</div>


{% endblock %}