<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
      
    
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>

  
  {% if session['user_name'] is not defined or session['user_name'] == None %}
    <body class="homepage-img">
      <div class="container">

      {% else %}
        <body>
          <header>
            <div class="signed-in-header" style="background-color: #F4713E; height: 120px;">
              <div class="text-white" style="text-align: center; vertical-align: auto;">
                <h1 class="nanjo-session" >Nanjo</h1>
                <p>BELIEVE | WORK HARD | GROW</p>
              </div>
            </div>
          </header>
          <div class="container">
           
      {% endif %}

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <!-- if not in session -->
              {% if session['user_name'] is not defined or session['user_name'] == None %}
                <li class="nav-item">
                  <a class="nav-link" href="/">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/create_user">Create Account</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/users/{{session['user_id']}}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              {% endif %}
              <!-- should show for both -->
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
          </div>
        </nav>


      {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}


    {% block body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    

      {% block after_body %}{% endblock %}
    </div><br><br><br><br>
    <footer class="base-footer" style="text-align: center;">
      <hr>
      <p>Created by: <a href="/about">Jessica Chapdelaine</a> &copy 2021</p>
    </footer>
    </body>
  </body>
</html>



