{% extends 'base.html' %}
{% block title %}Create Workout{% endblock %}

{% block body %}

<h2>Future Navigation Bar (WIP)</h2>
<div class ="navigation-bar">
  <ul>
      <li><a href="/users/{{user_id}}">Profile Page</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
</div>

  <h1>{{name}}, get this workout started!</h1>

  <h2>Choose an exercise</h2> 
  <h4>Required*</h4>
    
  <form id= "exercise-form"
        action="/add_exercise"
        method="POST">

    <p id="api-exercises">  
      <label>Exercises*</label>
        <select id= "api_exercise_selection" 
                name="api_exercise_selection" required>
         {% for exercise in api_exercises_list %}
    
            <option  value="{{exercise.id}}">
            {{exercise.name}}</option>
    
          {% endfor %}
      </select>
    </p>
    
    <label>Equipment</label>
      <select id= "api_exercise_equipment" 
              name="api_exercise_equipment" required>
        {% for equip in api_equipment_list %}
          <option  value="{{equip.name}}">{{equip.name}}</option>

        {% endfor %}
      </select>
    </p>
  

  <p id="add-sets">
    <label>Sets*</label>
      <select id = "exercise_sets" name="exercise_sets" required>
        {% for i in range(1,21) %}
          <option value = "{{i}}">{{i}}</option>"
        {% endfor %}
      </select>
  </p>

  <p id="add-reps">
    <label>Reps*</label>
      <select id = "exercise_reps" name="exercise_reps" required>
        {% for i in range(1,50) %}
          <option value = "{{i}}">{{i}}</option>"
        {% endfor %}
      </select>
  </p> 

  <p id="add-repunit">  
    <label>Rep Unit</label>
      <select id= "exercise_repunit" name="exercise_repunit">
       {% for unit in repunit_list %}
          <option  value="{{unit}}">{{unit}}</option>

        {% endfor %}
    </select>
</p>

  <p id="add-weight">
    <label>Enter Weight</label>
      <input 
        id = "exercise_weight" 
        type = "text"
        name="exercise_weight" required>
  </p>

  <p id="add-weightunit">  
    <label>Weight Unit</label>
      <select id= "exercise_weightunit" name="exercise_weightunit">
       {% for unit in weightunit_list %}
          <option  value="{{unit}}">{{unit}}</option>

        {% endfor %}
    </select>
</p>

      <form>
        <button id="submit-exercise" type="submit" >Add Exercise</button>
      </form>
    </p>



  </form>

  <section id="exercise-table">
    <table  style="width:100%">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Rep-Unit</th>
          <th>Info</th>
          <th>Weight</th>
          <th>Weight-Unit</th>
          <th>Equipment</th>
        </tr>
      </thead>

      <tbody id="user-exercise-selections"></tbody>

    </table>
</section>
</p>

<form>
  <button action= "/save_workout" 
          id="save_workout" 
          type="submit" >Save Workout</button>
</form>
</p>


  <script src="/static/js/exerciseList.js"></script>

 
{% endblock %}