{% extends 'base.html' %}
{% block title %}Nanjo: Sign up{% endblock %}

{% block body %}
 

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center h-100">
        <div class="card-signin-up">
          <div class="card-header">
            <h3>Sign Up</h3>
          </div>
          <div class="card-body">
            <form action="/new_users" method="POST">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="username" class="form-control-signin-up" id="homepageusername" 
                        aria-describedby="enter-username" placeholder="Enter username"
                        name="user_name" required>
              </div><br>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control-signin-up" id="input-password" 
                      placeholder="Password" name="password" required>
              </div><br>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="number" class="form-control-signin-up" id="input-age" 
                      placeholder="Age" name="user_age" required>
              </div><br>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="number" class="form-control-signin-up" id="input-weight" 
                      placeholder="Weight" name="user_weight" required>
              </div><br>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="text" class="form-control-signin-up" id="input-zipcode" 
                      placeholder="Zipcode" name="user_zipcode" required>
              </div><br>

              <div class="form-group">
                <input type="submit" value="Submit" class="btn float-right login_btn">
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="/create_user">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <h1>Create an account</h1>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/img/kettlebell.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/img/barbell.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/img/pushup.jpg" class="d-block w-100" alt="...">
          </div>
       </div>
     </div>
    </div>
  </div> -->
  



 
{% endblock %}