{% extends 'base.html' %}
{% block title %}Create Workout{% endblock %}

{% block body %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a href="/users/{{user_id}}">Profile Page</a>
      <a href="/logout"> <i class="bi bi-box-arrow-left" alt="" width="30" height="24"></i>Logout</a>
    </a>
  </div>
</nav>


  <h1>{{name}}, get this workout started!</h1>

  

<div>
  <h2>Choose an exercise</h2> 
  <h4>Required*</h4>
    
  <form id= "exercise-form"
        action="/add_exercise"
        method="POST">

    <p id="api-exercises">  
      <label>Exercises*</label>
        <select id= "api_exercise_selection" 
                name="api_exercise_selection" required>
         
        {% for exercise in api_exercises_list %}
            <option  value="{{exercise.id}}">
            {{exercise.name}}</option>
    
          {% endfor %}
      </select>
    </p>
    
    <!-- <label>Equipment</label> -->
      <select id= "api_exercise_equipment" 
              name="api_exercise_equipment" required>
              <option value="Choose Equipment">Choose Equipment</option>
        {% for equip in api_equipment_list %}
          <option  value="{{equip.name}}">{{equip.name}}</option>

        {% endfor %}
      </select>
    </p>
  

  <p id="add-sets">
    <label>Sets*</label>
      <input id = "exercise_sets" type = "number" 
              name="exercise_sets" required>  
  </p>

  <p id="add-reps">
    <label>Reps*</label>
      <input id = "exercise_reps" type = "number" 
            name="exercise_reps" required>
  </p> 

  <p id="add-repunit">  
    <label>Rep Unit</label>
      <select id= "exercise_repunit" name="exercise_repunit">
       {% for unit in repunit_list %}
          <option  value="{{unit}}">{{unit}}</option>

        {% endfor %}
    </select>
</p>

  <p id="add-weight">
    <label>Enter Weight</label>
      <input 
        id = "exercise_weight" 
        type = "number"
        name="exercise_weight" required>
  </p>

  <p id="add-weightunit">  
    <label>Weight Unit</label>
      <select id= "exercise_weightunit" name="exercise_weightunit">
       {% for unit in weightunit_list %}
          <option  value="{{unit}}">{{unit}}</option>

        {% endfor %}
    </select>
</p>

      <form>
        <button id="submit-exercise" type="submit" >Add Exercise</button>
      </form>
    </p>

  </form>

  <section id="exercise-table">
    <table  style="width:100%">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Equipment</th>
        </tr>
      </thead>

      <tbody id="user-exercise-selections"></tbody>

    </table>
</section>
</p>


<form id = "save_workout_form"
      action= "/save_workout"
      method="POST">
  <p>
    
  <button id="save_workout" 
          type="submit">Save Workout</button>
</form>
</p>
</div>



  <script src="/static/js/workouts.js"></script>
 
{% endblock %}