{% extends 'base.html' %}
{% block title %}Nanjo: Workout Tracker{% endblock %}

{% block body %}

      <div class="row">
        <div class="col">
          <h1>Nanjo</h1>
            </div>
          </div>

  <div class="row">
    <div class="col">
      <h2>Login</h2>
      
      <form action="/users" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="homepageusername" 
                  aria-describedby="emailHelp" placeholder="Enter username"
                  name="user_name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" 
                placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      <ul>
        <p>
          <li><a href="/create_user">Create an Account</a></li>
        </p>
        
      </ul>
    </div>
</div>





{% endblock %}
