{% extends 'base.html' %}
{% block title %}{{workout.workout_name}} Workout{% endblock %}


{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a href="/users/{{user_id}}">Profile Page</a>
      <a href="/logout"> <i class="bi bi-box-arrow-left" alt="" width="30" height="24"></i>Logout</a>
    </a>
  </div>
</nav>
  <h1>{{workout.workout_name}} Workout</h1>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Sets</th>
        <th scope="col">Reps</th>
        <th scope="col">Rep-Unit</th>
        <th scope="col">Weight</th>
        <th scope="col">Weight-Unit</th>
        <th scope="col">Equipment</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise in saved_exercises %}
      <tr>
        <td scope="row">
          <a href='#' 
            class='popover-anchor__save'
          id='popover-anchor__save-{{loop.index}}'
          data-content='{{exercise.exercise.exercise_info}}'
          data-toggle='popover-anchor__save' 
          title='{{exercise.exercise.exercise_name}}'>
          {{exercise.exercise.exercise_name}}</a></td>
        <td>{{exercise.we_sets}}</td>
        <td>{{exercise.we_reps}}</td>
        <td>{{exercise.we_repunit}}</td>
        <td>{{exercise.we_weight}}</td>
        <td>{{exercise.we_weightunit}}</td>
        <td>{{exercise.we_equipment}}</td>
      </tr>
      

      {% endfor %}
    </tbody>
  </table>

  <script src="/static/js/workouts.js"></script>


{% endblock %}