{% extends 'base.html' %}

{% block title %}{{user.user_name}}'s Page{% endblock %}

{% block body %}

<h2>Future Navigation Bar (WIP)</h2>
<div class ="navigation-bar">
  <ul>
      <li><a href="/create_workout">Create a Workout</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
</div>

<h1>{{user.user_name}}'s page</h1>

<ul>
    <li>Age: {{user.user_age}}</li>
    <li>Weight: {{user.user_weight}}</li>
    <li>Zip Code: {{user.user_zipcode}}</li>
</ul>

<h3>Saved Workouts</h3>

<p id="saved_workout_entry"></p>




{% endblock %}