{% extends 'base.html' %}

{% block title %}{{user.user_name}}'s Page{% endblock %}



{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a href="/logout"> <i class="bi bi-box-arrow-left" alt="" width="30" height="24"></i>Logout</a>
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{user.user_name}}'s page</h1>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <ul>
        <li>Age: {{user.user_age}}</li>
        <li>Weight: {{user.user_weight}}</li>
        <li>Zip Code: {{user.user_zipcode}}</li>
    </ul> -->
    </div>
    <div class="col-8">
      <h2> Start new workout</h2>

  <form id = "workout_name_form"
      action= "/workout_name"
      method="GET">
  <p>
    <label>Name Workout</label>
      <input 
        id = "user_saved_workout_name" 
        type = "text"
        name="user_saved_workout_name" required>
  </p>
  <form>
    <button id="save_workout_name" 
            type="submit">Let's Go!</button>
  </form>
</form>
    </div>
  </div>
</div>



<h3>Saved Workouts</h3>
<div>
  <ul>
    
      {% for workout in workouts %}
      <li>
        <a href="/saved_workout/{{workout.workout_id}}">{{workout.workout_name}}</a>
      </li>
        {% endfor %}
   
  </ul>
</div>
<form action="/weight_entry" method="GET">
  <div>
    <label>Enter Weight</label>
        <input 
          id = "user_weight_entry" 
          type = "number"
          name="user_weight_entry" >
  </div>
  <form>
    <button id="submit-weight" type="submit" >Add</button>
  </form>
</form>
<input type="hidden" id="custId" name="custId" value="test">

<div id="chartContainer" style="height: 370px; width: 100%;"></div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  window.onload = function () {
  const hidden = document.getElementById('custId');
  console.log('hidden', hidden);
  const chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
    title:{
      text: "Weight Tracker"
    },
    axisX: {
		interval: 1,
		intervalType: "month",
		valueFormatString: "DD MMM"
	},
    data: [{        
      type: "line",
          indexLabelFontSize: 16,
      dataPoints: [
        { y: 130 },
        { y: 190, indexLabel: "\u2191 highest",markerColor: "red", markerType: "triangle" },
        { y: 115 , indexLabel: "\u2193 lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
        
      ]
    }]
  });
  chart.render();
  
  }
  </script>

{% endblock %}