{% extends 'base.html' %}

{% block title %}Nanjo: {{user.user_name}}'s Profile{% endblock %}



{% block body %}

  <div class="row" style="opacity: 0.93;">
    <div class="col-4">
      <div class="card" style="width: 16rem; background-color:  white; opacity: 0.93;
                              border-radius: 10pt;">
        <div class="prof-card-header" style="margin-left: auto; 
                    margin-right: auto;">
          <img class="card-img-top" style="width: 7rem;"
                src="../static/img/black-user-icon.svg" alt="User image icon">
        </div>
          <div class="card-body" style="background-color: white; opacity: 0.93;">
            <h5 class="profile-card-title">{{user.user_name}}</h5>
            <p class="card-text">
              <ul>
                  <li>Age: {{user.user_age}}</li>
                  <li>Zip Code: {{user.user_zipcode}}</li>
              </ul>
              <p>
              <form action="/weight_entry" method="GET">
                <div class="input-group mb-3">
                  <input type="number" id = "user_weight_entry"
                          style="font-size: 11pt;"
                          class="form-control" 
                          name="user_weight_entry"
                          placeholder="New weight entry" aria-label="New weight entry" 
                          aria-describedby="enter-new-weight">
                  <div class="input-group-append" style="border-radius: 10pt;">
                    <button class="btn btn-outline-secondary profile_btn" type="submit"
                              style="background-color: #f4723e; color: white; 
                              font-weight: 300;">Add</button>
                  </div>
                
              </div>
            </form>
          </p>

        </div>
      </div><br>

          <div class="list-group" style="width: 16rem; border-color: black;   
                                        border-width: thin; border-radius: 10pt;
                                        opacity: 0.93; background-color: white; opacity: 0.93;">
            <h5 class="profile-card-title">Saved Workouts</h5> 
              {% for workout in workouts %}
                <a href="/saved_workout/{{workout.workout_id}}" 
                class="list-group-item list-group-item-action">{{workout.workout_name}}</a>
              {% endfor %}
  
          </div>
    </div>

  <div class="col-8"><br>
    <div class="card text-center" style="border-color: black; border-width: thin; 
                                  border-radius: 10pt; height: 38%">
        <div class="card-header">
          Start a new workout
        </div>
          <div class="card-body">
            <h5 class="profile-card-title">Workout Tracker</h5>
            <p class="card-text">Name, customize and save your workouts easily with our 
                                  easy to use workout tracker app.</p>

              <form id = "workout_name_form"
                    action= "/workout_name"
                    method="GET">
                    <p>
                        <input  id = "user_saved_workout_name" 
                                type = "text"
                                style="border-radius: 10pt;"
                                placeholder="Name workout"
                                name="user_saved_workout_name" required>
                    </p>
                      <form>
                        <button id="save_workout_name" 
                                class="btn btn-primary profile_btn"
                                style="background-color: #f4723e; color: white; 
                                font-weight: 300;"
                                type="submit">Push Yourself!</button>
                      </form>
              </form>
          </div>
    </div>
    <br><br><br>
  <div>
    <p id= "entries_dict" style="display: none;">
          {{entries_dict}}
    </p>
  </div>

    <div id="chartContainer" style="height: 250px; width: 100%; opacity: 0.93;"></div>

  </div>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  window.onload = function () {
  const dataArr = [];
  const wtDataStr = document.getElementById('entries_dict');
  const testData = [
    
			{ x: new Date(2021, 1, 15), y: 185 },
			{ x: new Date(2021, 1, 23), y: 183 },
      { x: new Date(2021, 2, 1), y: 180}, 
      { x: new Date(2021, 2, 8), y: 175 }, 
      { x: new Date(2021, 2, 16), y: 172 },
      { x: new Date(2021, 2, 24), y: 170 },
      { x: new Date(2021, 3, 7), y: 165},
      { x: new Date(2021, 3, 15), y: 161 },
      { x: new Date(2021, 3, 23), y: 158 },
      { x: new Date(2021, 3, 25), y: 157 }
    
  ];

  if(wtDataStr) {
    const wtDataJson = JSON.parse(wtDataStr.innerText);
      const dataKeys = Object.keys(wtDataJson);
      Array.from(dataKeys).map(key => {
        const date = new Date(key);
        dataArr.push({x: new Date(date.getFullYear(), date.getMonth(), date.getDay()),
           y: wtDataJson[key]});
      });
  }
  const chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
    title:{
      text: "Weight Tracker",
      color: "#4EBBA2"
    },
    axisX: {
		valueFormatString: "DD MMM"
	},
  axisY: {
    title: "Weight",
		scaleBreaks: {
			autoCalculate: true
  }
},
    data: [{        
      type: "line",
      xValueFormatString: "DD MMM",
      color: "#f4723e",
      dataPoints: testData.concat(dataArr)
     
    }]
  });
  chart.render();
  
  }
  </script>

{% endblock %}